# Housing Price Prediction

## Import Libraries and Modules

In [11]:
!curl -O https://raw.githubusercontent.com/brooksburkhead/toolbox/main/functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  6563  100  6563    0     0  31819      0 --:--:-- --:--:-- --:--:-- 32171

In [1]:
import pandas as pd
from functions import *

## Data Loading

Data is available on AWS at https://ddc-datascience.s3-website-us-west-1.amazonaws.com/Projects/Project.2-Housing/Housing.Data.csv

In [2]:
url = 'http://ddc-datascience.s3-website-us-west-1.amazonaws.com/Projects/Project.2-Housing/Housing.Data.csv'
raw_housing_data = pd.read_csv(url)

## EDA

In [3]:
raw_housing_data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,905101070,20,RL,62.0,14299,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2007,WD,Normal,115400
1,905101330,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
2,903454090,50,RM,50.0,9000,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,12,2007,WD,Normal,141000
3,533244030,60,FV,68.0,7379,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,254000
4,909252020,70,RL,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,4,2009,WD,Normal,155000

In [ ]:
metadata = get_metadata(raw_housing_data)
metadata

## Data Cleaning

In [ ]:
clean_housing_data = raw_housing_data.copy()